/* changePassword4.css */

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  width: 32.5rem; /* = 520px */
  height: 62.5rem; /* = 1000px */
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2.5rem 5rem; /* = 40px 80px */
}

.signup-card {
  display: flex;
  flex-direction: column;
  height: 62.5rem; /* = 1000px */

  align-items: center;
  justify-content: center; /* 체크+문구를 카드 중앙에 */
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2.5rem 5rem; /* = 40px 80px */
}

.check {
  width: 60px;
  height: 60px;
  margin-bottom: 1.5rem;
}

.inputForm {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2a83d7;
  text-align: center;
  margin-bottom: 2rem;
}

.login-btn {
  background-color: #2a83d7;
  color: white;
  border: none;
  justify-content: end; /* 체크+문구를 카드 중앙에 */
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.login-btn:hover {
  background-color: #226bb5;
}
