/* 공통 레이아웃 */
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 12px;
}

.left-btn {
  position: absolute;
  left: 0;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.left-btn img {
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 10px;
}

.submitForm {
  display: flex;
  width: 100%;
  max-width: 360px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  flex-grow: 1;
}

.signup-card {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 90%;
  padding: 20px 32px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.signup-card h2 {
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.011em;
  color: #2a83d7;
  margin: 0 0 16px 0;
}

.signup-card label {
  margin-left: 12px;
  font-size: 13px;
  line-height: 23px;
}

.signup-card input {
  width: 100%;
  height: 39px;
  padding: 12px;
  border: 0.8px solid #a6aab4;
  border-radius: 8px;
  font-size: 14px;
}

.signup-card input::placeholder {
  color: #d7d7d7;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.44;
  letter-spacing: -0.02em;
}

.next-btn,
.submit-btn {
  width: 360px;
  height: 54px;
  padding: 12px 24px;
  border-radius: 10px;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  background: #d9dbe0;
  cursor: pointer;
  margin: 0 auto;
}

/* 활성 */
.next-btn:hover:not(:disabled),
.submit-btn:hover:not(:disabled) {
  background: #206cb6;
}

/* 숨겨진 화면 */
.hidden {
  display: none;
}
